*.iml
.gradle
/local.properties
/apiKeys.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/api/.env
core/src/main/assets/minilm.onnx
app/release/
*.aab
*.apkgit-filter-repo.exe
